*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #F7F2F1;
  /* --font-light: 400;
  --font-normal: 500;
  --font-bold: 600; */
  --primary-text-color: #000000;
  --secondary-text-color: #454545;
  --font-base: 1.5rem;
  --font-lg: 1.75rem;
  --font-xl: 3rem;
  --line-height-heading: 72px;
  --line-height-para:36px;

  /* --secondary--text-color: "#000000"; */
}

@font-face {
  font-family: 'Closer Light';
  src: url('../src/Fonts/closer-light.otf') format('opentype');
}

@font-face {
  font-family: 'Closer Text Med';
  src: url('../src/Fonts/closertext-medium.otf') format('opentype');
}

body {
  font-family: 'Closer Text Med', sans-serif;
}

p{
  font-family: 'Closer Light', sans-serif;
  color: var(--secondary-text-color);
  font-size: var(--font-base);
  font-weight: var(--font-light);
  line-height: var(--line-height-para);
}

h2{
  font-size: var(--font-xl);
  font-weight: var(--font-normal);
  line-height: var(--line-height-heading);
}

h3{
  font-size: var(--font-lg);
}

a{
  border:none;
  outline:none;
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  p{
    font-size: 1.3rem;
  }
  h2{
    font-size: 2.5rem;
line-height: 3.6rem;
}
h3{
  font-size: 1.6rem;
}
}

@media only screen and (max-width: 450px) {
  h2{
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
  h3{
    font-size: 1.4rem;
  }
}